#single-product {
  padding: $pad;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  .hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    width: 100%;

    div {
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .img {
      grid-column-start: 1;
      grid-column-end: 5;
      height: 300px;
      justify-self: start;
      a {
        position: relative;

        img {
          width: auto;
          height: 100%;
          max-height: 100%;
          margin: auto;
        }
      }
    }
    .thumbnails {
      grid-column-start: 4;
      grid-column-end: 6;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 5px;
      cursor: crosshair;
    }
    .content {
      position: relative;
      color: $grey;
      font-family: $second-font;
      grid-column-start: 6;
      grid-column-end: 13;
      .titre {
        font-size: 2.5rem;
        color: $primary;
        line-height: 3rem;
        display : flex ;
        align-content : center ;
        justify-content : flex-start ;
        flex-direction : row ;
        flex-wrap : wrap ;
      }
      .titre div {
        font-size: 1.5rem;
        line-height: 3rem;
        color: $grey;
        margin : 0 ;
        margin-left : 10px ;
        margin-right : 10px ;
      }
      .titre span {
        color: $grey;
        font-size: 2rem;
        line-height: 3rem;
        cursor: crosshair ;
        opacity: .9;
        &:hover {
          color: $primary;
        }
      }
      .titre span.active {
        color: $primary;
        font-size: 2rem;
        line-height: 3rem;
        cursor: crosshair ;
        opacity: 1;
      }
      .cat {
        color: $grey;
        font-size: 2rem;
        line-height: 2rem;
      }
      .text {
        font-family: $first-font;
        font-size: 1.3rem;
        margin-top: 30px;
        font-weight: 200;
      }
      .button {
        margin-top: 50px;
        a {
          background: $primary;
          font-size: 2rem;
          padding: 5px 30px;
          @include shadow(7px, 0.4);
          color: $white;
        }
      }
      .price {
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translate(-50%, -50%);
        color: $primary;
        font-size: 1.6rem;
        line-height: 1rem;
        text-align: right;
        small {
          font-size: 1.2rem;
          color: $grey;
          text-decoration: line-through;
        }
      }
    }
  }
  @media only screen and (max-width: 900px) {
    .hero {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 10px;
      width: 100%;
      .img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 300px;
        justify-self: center;
        a {
          position: relative;

          img {
            width: auto;
            height: 100%;
            max-height: 100%;
            margin: auto;
          }
        }
      }
      .thumbnails {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1px;
        cursor: crosshair;
      }
      .content {
        position: relative;
        color: $grey;
        font-family: $second-font;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        .titre {
          font-size: 2.5rem;
          color: $primary;
          line-height: 2rem;
        }
      .titre span {
        color: $grey;
        font-size: 2rem;
        line-height: 3rem;
        opacity: .6;
        &:hover {
          color: $primary;
        }
      }
      .titre span.active {
        color: $primary;
        font-size: 2rem;
        line-height: 3rem;
        cursor: crosshair ;
        opacity: 1;
      }
        .cat {
          color: $grey;
          font-size: 2rem;
          line-height: 2rem;
        }
        .text {
          font-family: $first-font;
          font-size: 1.3rem;
          margin-top: 30px;
          font-weight: 200;
        }
        .button {
          margin-top: 50px;
          a {
            background: $primary;
            font-size: 2rem;
            padding: 5px 30px;
            @include shadow(7px, 0.4);
            color: $white;
          }
        }
        .price {
          position: absolute;
          top: 0px;
          right: 0px;
          transform: translate(-50%, -50%);
          color: $primary;
          font-size: 1.6rem;
          line-height: 1rem;
          text-align: right;
          small {
            font-size: 1.2rem;
            color: $grey;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
